includeConfig "confs/containers.config"

params {
    // REQUIRED
    manifest = null

    buffer_size = 1

    alignment_tool = "mafft" // Options: "mafft", "clustalw"
}

process {
    executor = 'local'
}

docker {
    enabled = true
}

profiles {
    // run docker containers compatible with the ARM64 architecture
    arm64 {
        process {
            withName: run_clustalw {
                container = 'community.wave.seqera.io/library/clustalw:2.1--890a808de2e3f217'
            }

            withName: run_mafft {
                container = 'community.wave.seqera.io/library/mafft:7.525--29cc8607eaaa2cc3'
            }
            withName: run_esmfold_api {
                container = 'community.wave.seqera.io/library/pip_requests:e1b97da275b54e67'
            }
        }
    }

}


